div#ui-datepicker-div {
    background-color: blanchedalmond;
}

.always-top {
    position: absolute;
    display: inline;
    width: 100%;
    margin-left: -20px;
}

.card-body {
    overflow: auto;
    padding-bottom: 50px;
    /* padding-top: 0 !important; */
}

.nav-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    background-color: white;    
}

li.nav-item {
    width: 33.33%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    /* border-color: transparent #dee2e6 #dee2e6 #fff; */
    border-radius: 0%;
}
 
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}
